<!-- INCLUDE overall_header.html -->
<h1>Infraction Statistics</h1>
	<p>You can view the number of user infractions issued for each infraction class created.</p>

<fieldset class="tabulated">
    <legend>Statistics</legend>
    <table class="table1 zebra-table">
        <thead>
        <tr>
            <th style="width: 50%">Title</th>
            <th>Issued Quantity</th>
        </tr>
        </thead>
        <tbody>
            {% for infraction in infractions %}
                <tr>
                    {% if infraction.title %}
                        <td>{{ infraction.title }}</td>
                    {% else %}
                        <td title="This infraction was deleted"><i>Deleted infraction</i></td>
                    {% endif %}
                    <td>{{ infraction.count }}</td>
                </tr>
            {% else %}
                <tr>
                    <td style="text-align: center;" colspan="4">There are no infractions.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>

<!-- INCLUDE overall_footer.html -->